            </div>     
        </div>
        <script src="javascriptss/smooth-scroll.min.js"></script>
        <script src="javascripts/common.js"></script>
        <script src="javascripts/blog.js"></script>
    </body>
</html>